<!DOCTYPE html>
<html>
  <head>
    <title>Example Bored API</title>
  </head>
  <body>
    <h1>Next Adventure in RESTful APIs</h1>
    <br>
    <center>
      <h1 style="color: red">{{ activity }}</h1>
    </center>
    <br>
    <h3 style="color: blue">Accesability: {{ acc }}</h3>
    <br>
    <h3 style="color: magenta">Type: {{ type }}</h3>
    <br>
    <h3 style="color: green">Number of participants needed: {{ par }}</h3>
    <br>
    <h3 style="color: #44c7f7">Price: {{ pri }}</h3>
    <br>
  </body>
</html>
